body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: system-ui, sans-serif;
    padding: 24px;
}

.app {
    max-width: 700px;
    margin: 0 auto;
}

.cabecalho {
    margin-bottom: 16px;
}

.titulo {
    font-size: 1.8rem;
}   

.subtitulo {
    color: var(--cor-suave);
}

.painel {
    background-color: var(--cor-painel);
    border: 1px solid var(--cor-borda);
    border-radius: var(--raio);
    padding: 16px;
}

.form-tarefa {
    display: flex;
    gap: 8px;
}

.entrada {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--cor-borda);
    border-radius: 8px;
    background-color: transparent;
    color: var(--cor-texto);
}

.botao {
    padding: 10px 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.botao-primario{
    background-color: var(--cor-primaria);
    color: #000;
}

.botao-fanstama{
    background-color: transparent;
    color: var(--cor-suave);
}

.botao-perigo{
    background-color: var(--cor-perigo);
    color: #fff;
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 12px 0px;
    color: var(--cor-suave);
}

.lista-tarefas {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item-tarefa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--cor-borda);
    border-radius: 8px;
}

.item-tarefa-concluida .texto-tarefa{
    text-decoration: line-through;
    opacity: 0.6;
}

.estado-vazio {
    margin-top: 12px;
    text-align: center;
    color: var(--cor-suave);
}

.credito {
    margin-top: 24px;
    text-align: center;
    color: var(--cor-suave);
    font-size: 0.9rem;
}